<a href="https://colab.research.google.com/github/pi-mishra/KPMG_internship/blob/main/KPMG_task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [79]:
import pandas as pd
import numpy as np
import warnings
warnings = 'ignore'

In [80]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [90]:
Transactions= pd.read_excel("/content/drive/MyDrive/KPMG/KPMG_VI_New_raw_data_update_final (2).xlsx",sheet_name='Transactions')
NewCustomerList= pd.read_excel("/content/drive/MyDrive/KPMG/KPMG_VI_New_raw_data_update_final (2).xlsx",sheet_name='NewCustomerList')
CustomerDemographic= pd.read_excel("/content/drive/MyDrive/KPMG/KPMG_VI_New_raw_data_update_final (2).xlsx",sheet_name='CustomerDemographic')
CustomerAddress= pd.read_excel("/content/drive/MyDrive/KPMG/KPMG_VI_New_raw_data_update_final (2).xlsx",sheet_name='CustomerAddress')

# Transactions

In [91]:
#checking the first 5 rows

Transactions.head()

,Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
1,1,2,2950,2017-02-25 00:00:00,False,Approved,Solex,Standard,medium,medium,71.49,53.62,41245
2,2,3,3120,2017-05-21 00:00:00,True,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701
3,3,37,402,2017-10-16 00:00:00,False,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361
4,4,88,3135,2017-08-31 00:00:00,False,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.1,36145

In [92]:
# defining funtion to modify dataframe for analysis

def row_to_column(df):
    # Assign the first row as column names
    df.columns = df.iloc[0, :]

    # Drop the first row
    df = df.drop(0).reset_index(drop=True)

    # Remove the column names' index (name=0)
    df.columns.name = None

    return df  # Return the modified DataFrame

In [98]:
# modifying the dataframe

Transactions = row_to_column(Transactions)

In [100]:
# defining a function to get the datatype, null and duplicates

def dataframe_info(df):
    # Get data types of columns
    print("DATA TYPES")
    print(df.dtypes)
    print("-"*50)

    # Get the count of null values in each column
    print("Null Value Sum")
    print(df.isnull().sum())
    print("-"*50)

    # Get the count of duplicate rows
    print(f"Duplicate Rows = {df.duplicated().sum()}")

    return

In [101]:
# Getting the datatype , null and duplicates

dataframe_info(Transactions)

DATA TYPES
transaction_id             object
product_id                 object
customer_id                object
transaction_date           object
online_order               object
order_status               object
brand                      object
product_line               object
product_class              object
product_size               object
list_price                 object
standard_cost              object
product_first_sold_date    object
dtype: object
--------------------------------------------------
Null Value Sum
transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64
--------------------------------------------------
Duplicate Rows = 0

## Observations of transactions dataframe-

* Data Types of the columns in the dataframe are not correct.
* There are multiple missing values in dataframe
* There are no duplicates

# NewCustomerList

In [103]:
#checking the first 5 rows

NewCustomerList.head()

,Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,...,state,country,property_valuation,NaN,NaN,NaN,NaN,NaN,Rank,Value
1,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,...,QLD,Australia,6,0.56,0.7000,0.8750,0.743750,1.0,1,1.71875
2,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,...,NSW,Australia,11,0.89,0.8900,1.1125,0.945625,1.0,1,1.71875
3,Ardelis,Forrester,Female,10,1974-08-28 00:00:00,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,...,VIC,Australia,5,1.01,1.0100,1.0100,1.010000,1.0,1,1.71875
4,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,...,QLD,Australia,1,0.87,1.0875,1.0875,1.087500,4.0,4,1.703125

In [105]:
# modifying the dataframe

NewCustomerList = row_to_column(NewCustomerList)

In [106]:
# Getting the datatype , null and duplicates

dataframe_info(NewCustomerList)

DATA TYPES
first_name                              object
last_name                               object
gender                                  object
past_3_years_bike_related_purchases     object
DOB                                     object
job_title                               object
job_industry_category                   object
wealth_segment                          object
deceased_indicator                      object
owns_car                                object
tenure                                  object
address                                 object
postcode                                object
state                                   object
country                                 object
property_valuation                      object
NaN                                    float64
NaN                                    float64
NaN                                    float64
NaN                                    float64
NaN                                    float64
Rank                                    object
Value                                   object
dtype: object
--------------------------------------------------
Null Value Sum
first_name                               0
last_name                               29
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     17
job_title                              106
job_industry_category                  165
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                   0
address                                  0
postcode                                 0
state                                    0
country                                  0
property_valuation                       0
NaN                                      0
NaN                                      0
NaN                                      0
NaN                                      0
NaN                                      0
Rank                                     0
Value                                    0
dtype: int64
--------------------------------------------------
Duplicate Rows = 0

## Observations of NewCustomerList dataframe-

* Data Types of the columns in the dataframe are not correct.
* There are multiple missing values in dataframe
* There are no duplicates
* There are invalid columns, which do not provide any information

# CustomerDemographic

In [107]:
#checking for the first 5 rows

CustomerDemographic.head()

,Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
1,1,Laraine,Medendorp,F,93,1953-10-12 00:00:00,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11
2,2,Eli,Bockman,Male,81,1980-12-16 00:00:00,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16
3,3,Arlin,Dearle,Male,61,1954-01-20 00:00:00,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15
4,4,Talbot,NaN,Male,33,1961-10-03 00:00:00,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7

In [109]:
# modifying the dataframe

CustomerDemographic = row_to_column(CustomerDemographic)

In [110]:
# Getting the datatype , null and duplicates

dataframe_info(CustomerDemographic)

DATA TYPES
customer_id                            object
first_name                             object
last_name                              object
gender                                 object
past_3_years_bike_related_purchases    object
DOB                                    object
job_title                              object
job_industry_category                  object
wealth_segment                         object
deceased_indicator                     object
default                                object
owns_car                               object
tenure                                 object
dtype: object
--------------------------------------------------
Null Value Sum
customer_id                              0
first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
default                                302
owns_car                                 0
tenure                                  87
dtype: int64
--------------------------------------------------
Duplicate Rows = 0

## Observations of CustomerDemographic dataframe-

* Data Types of the columns in the dataframe are not correct.
* There are multiple missing values in dataframe
* There are no duplicates
* Gender is not mentioned correctly
* There are invalid columns, which do not provide any information

## CustomerAddress

In [111]:
#getting the first 5 rows of df

CustomerAddress.head()

,Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,customer_id,address,postcode,state,country,property_valuation
1,1,060 Morning Avenue,2016,New South Wales,Australia,10
2,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
3,4,0 Holy Cross Court,4211,QLD,Australia,9
4,5,17979 Del Mar Point,2448,New South Wales,Australia,4

In [112]:
# modifying the dataframe

CustomerAddress = row_to_column(CustomerAddress)

In [113]:
# Getting the datatype , null and duplicates

dataframe_info(CustomerAddress)

DATA TYPES
customer_id           object
address               object
postcode              object
state                 object
country               object
property_valuation    object
dtype: object
--------------------------------------------------
Null Value Sum
customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64
--------------------------------------------------
Duplicate Rows = 0

## Observations of CustomerAddress dataframe-

* Data Types of the columns in the dataframe are not correct.
* There are multiple missing values in dataframe
* There are no duplicates
* State is not mentioned correctly