<a href="https://colab.research.google.com/github/pi-mishra/KPMG_internship/blob/main/KPMG_task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
# importing packages

import pandas as pd
import numpy as np
import warnings
warnings = 'ignore'

In [21]:
# mounting drive

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [22]:
# importing dataframes

Transactions= pd.read_excel("/content/drive/MyDrive/KPMG/KPMG_VI_New_raw_data_update_final (2).xlsx",sheet_name='Transactions')
NewCustomerList= pd.read_excel("/content/drive/MyDrive/KPMG/KPMG_VI_New_raw_data_update_final (2).xlsx",sheet_name='NewCustomerList')
CustomerDemographic= pd.read_excel("/content/drive/MyDrive/KPMG/KPMG_VI_New_raw_data_update_final (2).xlsx",sheet_name='CustomerDemographic')
CustomerAddress= pd.read_excel("/content/drive/MyDrive/KPMG/KPMG_VI_New_raw_data_update_final (2).xlsx",sheet_name='CustomerAddress')

# Data Cleaning

## Transactions

In [23]:
Transactions

,Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
1,1,2,2950,2017-02-25 00:00:00,False,Approved,Solex,Standard,medium,medium,71.49,53.62,41245
2,2,3,3120,2017-05-21 00:00:00,True,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701
3,3,37,402,2017-10-16 00:00:00,False,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361
4,4,88,3135,2017-08-31 00:00:00,False,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.1,36145
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19996,19996,51,1018,2017-06-24 00:00:00,True,Approved,OHM Cycles,Standard,high,medium,2005.66,1203.4,37823
19997,19997,41,127,2017-11-09 00:00:00,True,Approved,Solex,Road,medium,medium,416.98,312.74,35560
19998,19998,87,2284,2017-04-14 00:00:00,True,Approved,OHM Cycles,Standard,medium,medium,1636.9,44.71,40410
19999,19999,6,2764,2017-07-03 00:00:00,False,Approved,OHM Cycles,Standard,high,medium,227.88,136.73,38216
20000,20000,11,1144,2017-09-22 00:00:00,True,Approved,Trek Bicycles,Standard,medium,small,1775.81,1580.47,36334

In [24]:
# defining funtion to modify dataframe for analysis

def row_to_column(df):
    # Assign the first row as column names
    df.columns = df.iloc[0, :]

    # Drop the first row
    df = df.drop(0).reset_index(drop=True)

    # Remove the column names' index (name=0)
    df.columns.name = None

    return df  # Return the modified DataFrame

In [25]:
# modifying the dataframe

Transactions = row_to_column(Transactions)

In [29]:
# working on null values

Transactions.isnull().mean()*100

transaction_id             0.000
product_id                 0.000
customer_id                0.000
transaction_date           0.000
online_order               1.800
order_status               0.000
brand                      0.985
product_line               0.985
product_class              0.985
product_size               0.985
list_price                 0.000
standard_cost              0.985
product_first_sold_date    0.985
dtype: float64

In [33]:
# checking the null online_order

Transactions[Transactions['online_order'].isnull()]

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
97,98,49,333,2017-06-23 00:00:00,NaN,Approved,Trek Bicycles,Road,medium,medium,533.51,400.13,37823
166,167,90,3177,2017-04-26 00:00:00,NaN,Approved,Norco Bicycles,Standard,low,medium,363.01,290.41,38482
169,170,6,404,2017-10-16 00:00:00,NaN,Approved,OHM Cycles,Standard,high,medium,227.88,136.73,37838
250,251,63,1967,2017-04-11 00:00:00,NaN,Approved,Solex,Standard,medium,medium,1483.2,99.59,42145
300,301,78,2530,2017-03-24 00:00:00,NaN,Approved,Giant Bicycles,Standard,medium,large,1765.3,709.48,35455
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19514,19515,51,690,2017-01-22 00:00:00,NaN,Approved,OHM Cycles,Standard,high,medium,2005.66,1203.4,37823
19573,19574,18,1735,2017-01-15 00:00:00,NaN,Approved,Solex,Standard,medium,medium,575.27,431.45,41345
19580,19581,49,1933,2017-10-12 00:00:00,NaN,Approved,Trek Bicycles,Road,medium,medium,533.51,400.13,41064
19635,19636,98,1389,2017-07-26 00:00:00,NaN,Approved,Trek Bicycles,Standard,high,medium,358.39,215.03,38002
19843,19844,3,8,2017-01-28 00:00:00,NaN,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,37823

In [34]:
# Impute "Not Available" to NaN values in the "column_name" column

Transactions['online_order'].fillna("Not Available", inplace=True)

In [35]:
# Checking nan values of brand

Transactions[Transactions['brand'].isnull()]

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
136,137,0,431,2017-09-23 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1942.61,NaN,NaN
159,160,0,3300,2017-08-27 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1656.86,NaN,NaN
366,367,0,1614,2017-03-10 00:00:00,False,Approved,NaN,NaN,NaN,NaN,850.89,NaN,NaN
406,407,0,2559,2017-06-14 00:00:00,True,Approved,NaN,NaN,NaN,NaN,710.59,NaN,NaN
676,677,0,2609,2017-07-02 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1972.01,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19340,19341,0,443,2017-12-26 00:00:00,True,Approved,NaN,NaN,NaN,NaN,744.54,NaN,NaN
19383,19384,0,2407,2017-06-11 00:00:00,False,Approved,NaN,NaN,NaN,NaN,1098.18,NaN,NaN
19793,19794,0,2860,2017-01-13 00:00:00,False,Approved,NaN,NaN,NaN,NaN,868.56,NaN,NaN
19859,19860,0,2468,2017-06-24 00:00:00,True,Approved,NaN,NaN,NaN,NaN,1497.43,NaN,NaN
19871,19872,0,61,2017-03-17 00:00:00,True,Approved,NaN,NaN,NaN,NaN,867.92,NaN,NaN

In [37]:
# we found that brand nan values have some relationship with product_line, product_class,product_size,standard_cost and product_first_sold_date
# if the brand is null other mentioned columns are also null, it might be due to some error. So we are dropping the null rows

# Drop rows with missing values
Transactions.dropna(inplace=True)

In [38]:
# converting to datetime

Transactions['transaction_date'] = pd.to_datetime(Transactions['transaction_date'])
Transactions['product_first_sold_date'] = pd.to_datetime(Transactions['product_first_sold_date'])

# converting to float

Transactions['list_price'] = pd.to_numeric(Transactions['list_price'])
Transactions['standard_cost'] = pd.to_numeric(Transactions['standard_cost'])

##